<!DOCTYPE HTML>

<html>
<head>
	<link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">x
				<a class="brand" href="">
				Teaching Management
				</a>
				<ul class="nav">
					<li><a href="home">Home</a></li>
					<li> <a href="subject">Subject</a></li>
					<li> <a href="lecturer">Lecturer</a></li>
					<li> <a href="Program">Program</a></li>
					<li> <a href="../../sheduler">sheduler</a></li>
					<li> <a href="statistic">Statistic</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% block content %}
	
	{% endblock %}
	<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>