
{% extends "base.html" %}


{% block content %}
<h1><p class="brand" align = "center"><b>Lecturer</b></p></h1>
<h3><p align ="center" ><b>List of lecturers</b></p></h3>
<table class="table table-bordered  table-striped ">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Falcuty</th>
				<th>Subject in charge</th>
				<th>Subject can teach</th>
				<th>Credit</th>
			</tr>
			{% for lecturer in lecturer_list %}
			<tr>
				<td>{{lecturer.name}}</td>
				<td>{{lecturer.falcuty}}</td>
				<td>
				<ul>
					{% for subjects_in_charge in lecturer.subjects_in_charge.all %}
						<li>{{subjects_in_charge}}</li>
					{% endfor %}	
				</ul>
				</td>
				<td>
				<ul>
				{% for subjects_can_taught in lecturer.subjects_can_taught.all %}
					<li>{{subjects_can_taught}}</li>
				{% endfor %}	
				</ul>
				</td>
				<td>{{lecturer.credits}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</table>
<p align = "right"><a class="btn" data-toggle="modal" href="#add_lecturer">Add Lecturer</a></p>
<div class="modal hide fade" id="add_lecturer" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>New Lecturer</h3>
	</div>  	
                  
	
	<form action="" method="POST">{% csrf_token %}
	<div class="modal-body">
			<div>Name</div>
			<input type="text" name="lecturer_name" value=""></br>
			<div>Falcuty</div>
			<input type= "text" name="lecturer_falcuty" value=""></br>
			<div>Subjects in charge</div>
			<select name = "subjects_in_charge" multiple = "multiple" >
				{% for subjects_in_charge in subjects_list %}
					<option>{{subjects_in_charge}}</option>
				{% endfor %}
			</select>	
			<div> Subjects can teach</div>
			<select name = "subjects_can_teach" multiple = "multiple" >
				{% for subjects_can_teach in subjects_list %}
					<option>{{subjects_can_teach}}</option>
				{% endfor %}
			</select>	
			<div>Credit</div>
			<input type="number" name="lecturer_credit" value="1"></br>
			
			
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type ="submit">Save</button>
	</div>
	</form>
</div>

{% endblock %}