
{% extends "base.html" %}

</style>
{% block content%}
<div class="container span6">
<div class="container-fluid"></div>
<table class="table" border = '0'>
	<tbody>
		<!-- left side bar- (side bar 1)-->
		<tr>
			<th class="sidebar1">
				<div class="container span3">
				<div class="well sidebar-nav">
				<!-- list of existing schedule-->
				<ul class="nav nav-list">
					<li class="nav-header">Lecturers</li>
					{% for lecturer in lecturer_list %}
						<li>
							<a href = "\lecturer\{{lecturer.name}}" >{{lecturer.name}}</a>
						</li>
					{% endfor %}
				<!-- end of list of exsiting schedule-->
				</ul>
			</div>
			<!-- add schdule button-->
			<p align = "right">
				<a class="btn" data-toggle="modal" href="#add_schedule">Add Schedule</a>
			</p>

			</th>
			<!-- end of add schdule button-->
		<!-- right side bar (side bar 2)-->	
			<th class="sidebar2">
				<div class="container span 6">
				<p = align = "center">Schedules of {{schedule_name}}</p>
				<!--table of schedule -->
				<table class="table" border = "2">
					<tbody>
						<tr>
							<th>Lecturer</th>
							<th>Number of needed credits</th>
							<th>Number of taught credits</th>
							<!--<th>Lecturer_in_charge</th>-->
							<th>Number of taught subjects</th>
						</tr>
					</tbody>
				</table>
				<!--end of table of lecture-->
				<p align = "right">
				<a class="btn" data-toggle="modal" href="#add_subject">Add Subject</a>
			</p>
			</th>
			
		<!-- end right sidebar (sidebar 2) -->
		</tr>
	</tbody>
</table> 
<!--/.well -->
<div class="container span">


</div>
<!-- Inside add schedule button-->
<div class="modal hide fade" id="add_schedule" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>New Schedule</h3>
	</div>  
         
	<form action="" method="POST">{% csrf_token %}           
	<div class="modal-body">
			<input type = "hidden" name = "form_type" value = "new_schedule" >
			<div>Name</div>
			<input type="text" name="schedule_name" value=""></br>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type ="submit">Save</button>
	</div>
	</form>
</div>

<div class="modal hide fade" id="add_subject" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>New Link</h3>
	</div>  	
                  
	<form action="" method="POST">{% csrf_token %}           
	<div class="modal-body">
			<input type ="hidden" name ="form_type" value = "add_link">
			<div>Subject</div>
			<select name= "subject_ID">
				{% for subject in subject_list %}
					<option>{{subject.ID}}</option>
				{% endfor %}
            </select>
            <div>Lecturer</div>
            <select name= "lecturers" multiple ="multiple">
				{% for lecturer in lecturer_list %}
					<option>{{lecturer}}</option>
				{% endfor %}
            </select>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type ="submit">Save</button>
	</div>
	</form>
</div>
<!-- end of inside schedule add button-->
{% endblock %}