
{% extends "base.html" %}
<style>

	.sidebar-nav {
        padding: 9px 0;
    }
</style>
{% block content%}
<div class="container span6">
<div class="container-fluid"></div>
<table class="table" border = '0'>
	<tbody>
	
		<tr>
			<th class="sidebar1">
				<div class="container span3">
				<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">schedule list</li>
					{% for schedule in schedule_list %}
						<li>
							<a href = "{{schedule.name}}" >{{schedule.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<p align = "right">
				<a class="btn" data-toggle="modal" href="#add_scheduler">Add Schedule</a>
			</p>

			</th>
			<th class="sidebar2">
				<div class="container span 6">
				<p = align = "center">Schedules of {{schedule_name}}</p>
				<table class="table" border = "2">
					<tbody>
						<tr>
							<th>ID</th>
							<th>Subject</th>
							<th>Credit</th>
							<!--<th>Lecturer_in_charge</th>-->
							<th>Lecturer</th>
						</tr>
					  {% for scheduler_link in scheduler_link_list %}
						<tr>
							<td>{{scheduler_link.subject.ID}}</td>
							<td>{{scheduler_link.subject.name}}</td>
							<td>{{scheduler_link.subject.credits}}</td>
							<!--<td>
								{% for lecturer in lecturer_list %}
									{% for subject in lecturer.subject_in_charge.all %}
										{% if scheduler_link.subject = subject %}
											{{lecturer.name}}
										{% endif %}
									{% endfor %}
								{% endfor %}
							</td>-->
							<td>
								{% for lecturer in scheduler_link.lecturer.all %}
									<li>{{lecturer.name}}</li>
								{% endfor %}
							</td>
						</tr>
					  {% endfor %}
					</tbody>
				</table>
			</th>
		</tr>
	</tbody>
</table> 
<!--/.well -->
<div class="container span">


</div>

<div class="modal hide fade" id="add_schedule" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>New Schedule</h3>
	</div>  	
                  
	<form action="" method="POST">{% csrf_token %}           
	<div class="modal-body">
			<div>Name</div>
			<input type="text" name="schedule_name" value=""></br>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type ="submit">Save</button>
	</div>
	</form>
</div>

{% endblock %}