
{% extends "base.html" %}

{% block content%}
<div class="container span6">
<div class="container-fluid"></div>
<table class="table" border = '0'>
	<tbody>
	
		<tr>
			<th class="sidebar1">
				<div class="container span3">
				<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Lecturers</li>
					{% for lecturer in lecturer_list %}
						<li>
							<a href = "/lecturer/{{lecturer.name}}" >{{lecturer.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<p align = "right">
				<a class="btn" data-toggle="modal" href="#all">All</a>
			</p>
		</tr>
	</tbody>
</table> 
<!--/.well -->
<div class="container span">


</div>
{% endblock %}