
{% extends "base.html" %}


{% block content %}
<h1><p class="brand" align = "center"><b>Subject</b></p></h1>
<h3><p align ="center" ><b>List of subjects</b></p></h3>
<table class="table table-bordered  table-striped ">
	<tbody>
		<tr align = "center">
			<th>ID</th>
			<th>Name</th>
			<th>Credit</th>
			<th>Program</th>
		</tr>
		{% for subject in subject_list %}
		<tr>
			<td>{{subject.ID}}</td>
			<td>{{subject.name}}</td>
			<td>{{subject.credit}}</td>
			<td>{{subject.program}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
<p align = "right"><a class="btn" data-toggle="modal" href="#add_subject">Add Subject</a></p>
<div class="modal hide fade" id="add_subject" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>New Subject</h3>
	</div>  	
                  
	               
	<div class="modal-body">
		<form action="" method="POST">
			<div>Name</div>
			<input type="text" name="subject_name" value=""></br>
			<div>ID</div>
			<input type="text" name="subject_ID" value=""></br>
			<div>Credit</div>
			<input type="number" name="subject_credit" value="1"></br>
			<div>Program</div>
			<select>
			{% for subject in subject_list %}
                <option>{{subject.program}}</option>
            {%endfor%}
            </select>
			<!--<input type="number" name="subject_credit" value="1"></br>-->
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary">Save</button>
	</div>
</div>

{% endblock %}